html {
    background-color: black;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-rows: 125px auto;
    grid-template-areas: 
        ". header ."
        ". main .";
}

.header {
    grid-area: header;
    display: grid;
    justify-items: center;
    
    &__h1 {
        padding-top: 20px;
    }

    & label {
        padding: 15px 15px 15px 5px;
    }
}

.main {
    grid-area: main;
    display: grid;
    justify-items: center;
}

#lijst-films {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;

    li {
        list-style: none;
        padding: 5px;
    }
}
